In [1]:
import pandas as pd
import streamlit
import altair
import plotly.express as px

In [4]:
vehicles = pd.read_csv('vehicles_us.csv')

print(vehicles.sort_values(by='odometer',ascending=False))

       price  model_year                model  condition  cylinders    fuel  \
17869  59900      1964.0   chevrolet corvette   like new        NaN     gas
40729   4700      2013.0      chevrolet cruze       good        6.0     gas
48962  40000      2014.0             ram 3500  excellent        NaN  diesel
14245   6000      1996.0             ram 2500       good       10.0     gas
2840   18500      2014.0        ford explorer  excellent        6.0     gas
...      ...         ...                  ...        ...        ...     ...
51498  15900      2011.0      gmc sierra 1500  excellent        8.0     gas
51507  29500      2012.0        toyota tundra       good        8.0     gas
51516   8999      2011.0  jeep grand cherokee       good        6.0     gas
51519  11750      2015.0         honda accord  excellent        4.0     gas
51524   6300      2014.0        nissan altima       good        4.0     gas

       odometer transmission         type paint_color  is_4wd date_posted  \
17869  990000.0    automatic  convertible         red     NaN  2018-06-17
40729  990000.0    automatic        sedan       black     NaN  2018-05-02
48962  980000.0    automatic        truck       white     1.0  2018-12-06
14245  920000.0    automatic        truck        blue     NaN  2019-02-02
2840   866000.0    automatic          SUV       black     1.0  2018-07-20
...         ...          ...          ...         ...     ...         ...
51498       NaN    automatic        truck         NaN     1.0  2019-01-25
51507       NaN    automatic       pickup        grey     1.0  2018-05-01
51516       NaN    automatic          SUV       white     1.0  2018-11-01
51519       NaN    automatic        coupe         NaN     NaN  2018-11-24
51524       NaN    automatic        sedan         NaN     NaN  2018-06-05

       days_listed
17869           28
40729            4
48962            7
14245           43
2840            14
...            ...
51498           69
51507           31
51516           51
51519           89
51524           10

[51525 rows x 13 columns]